/* 
    Folha de estilo do site one page HTML5 e CSS3
    @author Wandier de Souza Tome
    wad.tome@gmail.com
*/
/* CSS Reset */
*{margin: 0; border: 0; padding: 0;}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    body{
        background-color: #0ff;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){
    body{
        background-color: #ff0;
    }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 992px){
    body{
        background-color: #ff6600;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 576px){
    body{
        background-color: #f00;
    }
}